Repository cloudon-one/multi-cloud-runway: changes, and which pre-commit hooks are due for each by the changed paths.
All: terragrunt-fmt, terragrunt-validate-inputs, security-policy-check, docs-validation

terragrunt-fmt:
  name: Terragrunt fmt
  entry: sh -c 'find . -name "*.hcl" -exec terragrunt hclfmt {} \;'
  language: system
  pass_filenames: false

terragrunt-validate-inputs:
  name: Terragrunt validate inputs
  entry: sh -c 'find . -name "terragrunt.hcl" | while read file; do dir=$(dirname "$file"); echo "Validating $dir"; (cd "$dir" && terragrunt validate-inputs --terragrunt-non-interactive) || exit 1; done'
  language: system
  pass_filenames: false

security-policy-check:
  name: Security policy validation
  entry: sh -c 'python3 scripts/validate-security-policies.py'
  language: system
  pass_filenames: false

docs-validation:
  name: Documentation validation
  entry: sh -c 'python3 scripts/validate-docs.py'
  language: system
  pass_filenames: false

Update settings.local.json
  .claude/settings.local.json
Due: none

small fixes
  .claude/settings.local.json
  .gitignore
  CLAUDE.md
Due: docs-validation

Update Terragrunt version and contact emails
  CONTRIBUTING.md
  README.md
  SECURITY.md
Due: docs-validation

Remove AWS Terragrunt configuration and update GCP domain
  aws-terragrunt-configuration/.gitattributes
  aws-terragrunt-configuration/.github/workflows/terragrunt-plan-apply.backup
  aws-terragrunt-configuration/.github/workflows/terrgrunt-plan-and-apply.yml
  aws-terragrunt-configuration/.gitignore
  aws-terragrunt-configuration/CODEOWNERS
  aws-terragrunt-configuration/LICENSE
  gcp-terragrunt-configuration/terragrunt/vars.yaml
Due: security-policy-check, docs-validation

Update funding sources in FUNDING.yml
  .github/FUNDING.yml
Due: security-policy-check, docs-validation

docs: rewrite READMEs with table of contents, tables, and current architecture
  README.md
  aws-terragrunt-configuration/README.md
  gcp-terragrunt-configuration/README.md
Due: docs-validation

fix: align terragrunt configs with aws-terraform-modules and tag v1.0.0
  aws-terragrunt-configuration/aws/acm/eu/prod/terragrunt.hcl
  aws-terragrunt-configuration/aws/acm/eu/stg/terragrunt.hcl
  aws-terragrunt-configuration/aws/acm/us/dev/terragrunt.hcl
  aws-terragrunt-configuration/aws/acm/us/prod/terragrunt.hcl
  aws-terragrunt-configuration/aws/acm/us/stg/terragrunt.hcl
  aws-terragrunt-configuration/aws/api-gw/eu/prod/terragrunt.hcl
  aws-terragrunt-configuration/aws/api-gw/eu/stg/terragrunt.hcl
  aws-terragrunt-configuration/aws/api-gw/us/dev/terragrunt.hcl
  aws-terragrunt-configuration/aws/api-gw/us/prod/terragrunt.hcl
  aws-terragrunt-configuration/aws/api-gw/us/stg/terragrunt.hcl
  aws-terragrunt-configuration/aws/iam/groups/terragrunt.hcl
  aws-terragrunt-configuration/aws/iam/roles/terragrunt.hcl
  aws-terragrunt-configuration/aws/iam/users/terragrunt.hcl
  aws-terragrunt-configuration/aws/vars.yaml
Due: terragrunt-fmt, terragrunt-validate-inputs, security-policy-check, docs-validation

fix: resolve CI validation failures in markdownlint, tflint, and checkov
  .github/workflows/validate.yml
  CONTRIBUTING.md
  README.md
  SECURITY.md
  gcp-terragrunt-configuration/tf-modules/terraform-google-vpn/main.tf
Due: security-policy-check, docs-validation

fix: resolve remaining CI failures (fmt, yamllint, tflint, checkov)
  .github/workflows/validate.yml
  .yamllint.yaml
  gcp-terragrunt-configuration/tf-modules/terraform-google-dns/main.tf
  gcp-terragrunt-configuration/tf-modules/terraform-google-dns/variables.tf
  gcp-terragrunt-configuration/tf-modules/terraform-google-vpn/main.tf
Due: security-policy-check, docs-validation

fix: remove trailing spaces from .yamllint.yaml and add trailing newline
  .yamllint.yaml
Due: security-policy-check, docs-validation

fix: scope yamllint to CI configs only
  .github/workflows/validate.yml
Due: security-policy-check, docs-validation

fix: align terragrunt configs with updated aws-terraform-modules v1.0.0
  aws-terragrunt-configuration/aws/acm/eu/prod/terragrunt.hcl
  aws-terragrunt-configuration/aws/acm/eu/stg/terragrunt.hcl
  aws-terragrunt-configuration/aws/acm/us/dev/terragrunt.hcl
  aws-terragrunt-configuration/aws/acm/us/prod/terragrunt.hcl
  aws-terragrunt-configuration/aws/acm/us/stg/terragrunt.hcl
  aws-terragrunt-configuration/aws/network/tgw/terragrunt.hcl
  aws-terragrunt-configuration/aws/network/vpc/terragrunt.hcl
  aws-terragrunt-configuration/aws/redis/eu/prod/terragrunt.hcl
  aws-terragrunt-configuration/aws/redis/eu/stg/terragrunt.hcl
  aws-terragrunt-configuration/aws/redis/us/prod/terragrunt.hcl
  aws-terragrunt-configuration/aws/redis/us/stg/terragrunt.hcl
  aws-terragrunt-configuration/aws/vars.yaml
Due: terragrunt-fmt, terragrunt-validate-inputs, security-policy-check, docs-validation

ci: expand CI validation to cover AWS configs and full codebase
  .github/workflows/validate.yml
  aws-terragrunt-configuration/aws/accounts/terragrunt.hcl
  aws-terragrunt-configuration/aws/cloudtrail/terragrunt.hcl
  aws-terragrunt-configuration/aws/common.hcl
  aws-terragrunt-configuration/aws/network/tgw/terragrunt.hcl
  aws-terragrunt-configuration/aws/security/eventbridge/terragrunt.hcl
  aws-terragrunt-configuration/aws/security/scp/terragrunt.hcl
  aws-terragrunt-configuration/aws/vpc/eu/prod/terragrunt.hcl
  aws-terragrunt-configuration/aws/vpc/eu/stg/terragrunt.hcl
  aws-terragrunt-configuration/aws/vpc/us/dev/terragrunt.hcl
  aws-terragrunt-configuration/aws/vpc/us/prod/terragrunt.hcl
  aws-terragrunt-configuration/aws/vpc/us/stg/terragrunt.hcl
  gcp-terragrunt-configuration/terragrunt/envs/global/iam/terragrunt.hcl
  gcp-terragrunt-configuration/terragrunt/envs/shrd/dev/net-vpc/terragrunt.hcl
  gcp-terragrunt-configuration/terragrunt/terragrunt.hcl
Due: terragrunt-fmt, terragrunt-validate-inputs, security-policy-check, docs-validation

fix(ci): use correct detect-secrets scan+diff pattern
  .github/workflows/validate.yml
Due: security-policy-check, docs-validation

fix(ci): pin detect-secrets to v1.5.0 and update baseline
  .github/workflows/validate.yml
  .secrets.baseline
Due: security-policy-check, docs-validation

fix(ci): ignore generated_at timestamp in detect-secrets baseline diff
  .github/workflows/validate.yml
Due: security-policy-check, docs-validation

fix(ci): add verbose output and AWS module fmt check to terraform-fmt job
  .github/workflows/validate.yml
Due: security-policy-check, docs-validation

fix(ci): enable download_external_modules for Checkov GCP and AWS scans
  .github/workflows/validate.yml
Due: security-policy-check, docs-validation

fix(ci): soft-fail Checkov findings from upstream external GCP modules
  .github/workflows/validate.yml
Due: security-policy-check, docs-validation

fix(ci): soft-fail entire GCP modules Checkov scan
  .github/workflows/validate.yml
Due: security-policy-check, docs-validation

fix: resolve yamllint errors in GCP vars.yaml
  gcp-terragrunt-configuration/terragrunt/vars.yaml
Due: security-policy-check, docs-validation

chore: update secrets baseline after GCP vars.yaml reformat
  .secrets.baseline
Due: none

fix: resolve yamllint errors in AWS vars.yaml
  .github/workflows/validate.yml
  .secrets.baseline
  .yamllint-vars.yaml
  aws-terragrunt-configuration/aws/vars.yaml
Due: security-policy-check, docs-validation

compliance(preprod): G0 baseline and instrumentation
  .gitignore
  docs/preprod/COVERAGE_MATRIX.md
  docs/preprod/TOOLCHAIN.md
  evidence/.gitignore
  evidence/G0/BASELINE.json
  evidence/G0/KNOWN_FAILURES.md
  evidence/README.md
  scripts/baseline-inventory.py
  scripts/coverage-matrix.py
Due: docs-validation

compliance(preprod): G0 — record completed lint/security/module-version baseline results
  evidence/G0/KNOWN_FAILURES.md
Due: docs-validation

compliance(preprod): G0 — record GitHub Actions billing lock blocking all CI
  evidence/G0/KNOWN_FAILURES.md
Due: docs-validation

compliance(preprod): G1 evidence spine — scoring engine, placeholder & assertion discipline, generated topology
  ARCHITECTURE_REPORT.json
  ARCHITECTURE_SCORECARD.md
  INPUT_ASSERTIONS.md
  Makefile
  NETWORK_TOPOLOGY.md
  PLACEHOLDERS.md
  README.md
  architecture.mmd
  docs/preprod/DEFERRED_PROD_CHANGES.md
  evidence/G1/ARCHITECTURE_REPORT.baseline.json
  evidence/G1/G1_EXIT.md
  scripts/architecture-score.py
  scripts/compliance-check.py
  scripts/config/assertion-allowlist.yaml
  scripts/input-assertions.py
  scripts/lib/__init__.py
  scripts/lib/loaders.py
  scripts/lib/report.py
  scripts/lib/rules.py
  scripts/placeholder-scan.py
  scripts/render-topology.py
  scripts/validate-docs.py
Due: security-policy-check, docs-validation

ci(preprod): G2 gate hardening — preprod-gates workflow, thresholds, local enforcement
  .github/CODEOWNERS
  .github/dependabot.yml
  .github/gate-thresholds.yaml
  .github/workflows/preprod-gates.yml
  .pre-commit-config.yaml
  ARCHITECTURE_REPORT.json
  Makefile
  docs/preprod/BRANCH_PROTECTION.md
  docs/preprod/CI_IDENTITY.md
  evidence/G2/GATE_ACTIVATION.md
  scripts/security-gate.py
Due: security-policy-check, docs-validation

sec(preprod): G3 AWS controls — SCP guardrail library, inspection schema, module-gap register
  .github/gate-thresholds.yaml
  .github/workflows/preprod-gates.yml
  ARCHITECTURE_REPORT.json
  ARCHITECTURE_SCORECARD.md
  INPUT_ASSERTIONS.md
  Makefile
  NETWORK_TOPOLOGY.md
  PLACEHOLDERS.md
  architecture.mmd
  aws-terragrunt-configuration/aws/security/scp/policies/CONTROLS.md
  aws-terragrunt-configuration/aws/security/scp/policies/deny-root.json
  aws-terragrunt-configuration/aws/security/scp/policies/guardrails-sandbox.json
  aws-terragrunt-configuration/aws/security/scp/policies/protect-security-services.json
  aws-terragrunt-configuration/aws/security/scp/policies/quarantine.json
  aws-terragrunt-configuration/aws/security/scp/policies/region-restriction.json
  aws-terragrunt-configuration/aws/security/scp/policies/require-imdsv2.json
  aws-terragrunt-configuration/aws/vars.yaml
  docs/RUNBOOKS/aws-egress-cutover.md
  docs/preprod/CUTOVER_RISKS.md
  docs/preprod/DEFERRED_PROD_CHANGES.md
  docs/preprod/MODULE_GAPS.md
  evidence/G3/G3_EXIT.md
  scripts/config/assertion-allowlist.yaml
  scripts/config/scp-waivers.yaml
  scripts/fixtures/scp-cases.yaml
  scripts/validate-scp.py
Due: security-policy-check, docs-validation

sec(preprod): G4 GCP controls — org policies, VPC-SC dry-run, CMEK, org tags
  .github/gate-thresholds.yaml
  ARCHITECTURE_REPORT.json
  ARCHITECTURE_SCORECARD.md
  CMEK_WIRING.md
  Makefile
  NETWORK_TOPOLOGY.md
  PLACEHOLDERS.md
  architecture.mmd
  docs/RUNBOOKS/vpcsc-dryrun-to-enforce.md
  docs/preprod/COVERAGE_MATRIX.md
  docs/preprod/ORG_POLICY_SCOPE.md
  evidence/G4/G4_EXIT.md
  gcp-terragrunt-configuration/terragrunt/envs/global/org-policies/terragrunt.hcl
  gcp-terragrunt-configuration/terragrunt/envs/global/tags/terragrunt.hcl
  gcp-terragrunt-configuration/terragrunt/envs/global/vpcsc/terragrunt.hcl
  gcp-terragrunt-configuration/terragrunt/envs/stg/eu/kms/terragrunt.hcl
  gcp-terragrunt-configuration/terragrunt/envs/stg/eu/svc-sql/terragrunt.hcl
  gcp-terragrunt-configuration/terragrunt/vars.yaml
  gcp-terragrunt-configuration/tf-modules/terraform-google-kms/.terraform.lock.hcl
  gcp-terragrunt-configuration/tf-modules/terraform-google-kms/main.tf
  gcp-terragrunt-configuration/tf-modules/terraform-google-kms/outputs.tf
  gcp-terragrunt-configuration/tf-modules/terraform-google-kms/variables.tf
  gcp-terragrunt-configuration/tf-modules/terraform-google-kms/versions.tf
  gcp-terragrunt-configuration/tf-modules/terraform-google-org-policies/.terraform.lock.hcl
  gcp-terragrunt-configuration/tf-modules/terraform-google-org-policies/main.tf
  gcp-terragrunt-configuration/tf-modules/terraform-google-org-policies/outputs.tf
  gcp-terragrunt-configuration/tf-modules/terraform-google-org-policies/variables.tf
  gcp-terragrunt-configuration/tf-modules/terraform-google-org-policies/versions.tf
  gcp-terragrunt-configuration/tf-modules/terraform-google-org-tags/.terraform.lock.hcl
  gcp-terragrunt-configuration/tf-modules/terraform-google-org-tags/main.tf
  gcp-terragrunt-configuration/tf-modules/terraform-google-vpcsc/.terraform.lock.hcl
  gcp-terragrunt-configuration/tf-modules/terraform-google-vpcsc/main.tf
  gcp-terragrunt-configuration/tf-modules/terraform-google-vpcsc/outputs.tf
  gcp-terragrunt-configuration/tf-modules/terraform-google-vpcsc/variables.tf
  gcp-terragrunt-configuration/tf-modules/terraform-google-vpcsc/versions.tf
  scripts/architecture-score.py
  scripts/plan-guard.py
  scripts/render-cmek-wiring.py
  scripts/validate-docs.py
Due: terragrunt-fmt, terragrunt-validate-inputs, security-policy-check, docs-validation

clean up
  ARCHITECTURE_SCORECARD.md
  CMEK_WIRING.md
  INPUT_ASSERTIONS.md
  NETWORK_TOPOLOGY.md
  PLACEHOLDERS.md
  docs/preprod/BRANCH_PROTECTION.md
  docs/preprod/CI_IDENTITY.md
  docs/preprod/COVERAGE_MATRIX.md
  docs/preprod/CUTOVER_RISKS.md
  docs/preprod/DEFERRED_PROD_CHANGES.md
  docs/preprod/MODULE_GAPS.md
  docs/preprod/ORG_POLICY_SCOPE.md
  docs/preprod/TOOLCHAIN.md
  evidence/.gitignore
  evidence/G0/BASELINE.json
  evidence/G0/KNOWN_FAILURES.md
  evidence/G1/ARCHITECTURE_REPORT.baseline.json
  evidence/G1/G1_EXIT.md
  evidence/G2/GATE_ACTIVATION.md
  evidence/G3/G3_EXIT.md
  evidence/G4/G4_EXIT.md
  evidence/README.md
Due: docs-validation

clean up
  aws-terragrunt-configuration/aws/security/scp/policies/CONTROLS.md
Due: docs-validation

Remove Architecture section from README
  README.md
Due: docs-validation

Update GCP section in README.md
  README.md
Due: docs-validation

Change owner and eks_version in vars.yaml
  aws-terragrunt-configuration/aws/vars.yaml
Due: security-policy-check, docs-validation

Path conditions:
  terragrunt-fmt: any of: \.hcl$
  terragrunt-validate-inputs: any of: terragrunt\.hcl$
  security-policy-check: any of: \.(hcl|yaml|yml|tf)$
  docs-validation: any of: \.(md|hcl|yaml|yml)$
